<div class="social">
  <a class="social__link" target="_blank" href="https://www.facebook.com/">
    <img src="assets/images/social/facebook_512x512.png" alt="Facebook" class="social__icon">
  </a>
  <a class="social__link" target="_blank" href="https://www.linkedin.com/">
    <img src="assets/images/social/linkedin_512x512.png" alt="LinkedIn" class="social__icon">
  </a>
  <a class="social__link" target="_blank" href="https://twitter.com/">
    <img src="assets/images/social/twitter_512x512.png" alt="Twitter" class="social__icon">
  </a>
</div>
