<footer class="footer">
  
  <div class="footer__box">
    <h3 class="footer__heading">Lorem, ipsum dolor.</h3>
    <p class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non veniam perferendis iure.</p>
  </div>
  
  <div class="footer__box">
    <h3 class="footer__heading">Lorem ipsum dolor sit.</h3>
    <p class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  
  <div class="footer__box">
    <h3 class="footer__heading">Lorem ipsum.</h3>
    <p class="footer__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, vitae?</p>
  </div>

  <div class="footer__social">
    <h3 class="footer__heading">Find us</h3>
    <mxc-social-links></mxc-social-links>
  </div>

</footer>
